body{margin:0;font-family:Roboto,sans-serif;-webkit-font-smoothing:antialiased;scroll-behavior:smooth}h1,h2,h3,h4,.logo{font-family:Oswald,sans-serif;text-transform:uppercase}.container{max-width:1200px;margin:0 auto;padding:0 20px}
